.navbar__container {
  transition: 0.1s;
  height: 5rem;
  padding: 0.8rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  .navbar__wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    .navbar-item {
      padding: 0.6rem 1.2rem;
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
      font-size: 1.6rem;
      color: rgba($color: #fff, $alpha: 0.7);
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: rgba($color: #fff, $alpha: 1);
        transform: scale(1.1);
        transition: 0.1s;
      }
    }
    .navbar-title {
      padding: 0.8rem 1.5rem;
      font-size: 2rem;
      text-transform: uppercase;
      color: rgba($color: #fff, $alpha: 1);
      cursor: pointer;
    }
  }
}
