<div class="current_conditions__container">
  <app-navbar title="Weather Forecasts"></app-navbar>
  <div class="current_conditions__wrapper">
    <div class="wrapper">
      <div class="search__container">
        <h2>Get Current Weather Report</h2>
        <mat-form-field class="search-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search for a place" autocomplete="off"
            (input)="filterCities($event.target.value)">
        </mat-form-field>
        <div class="topcities__dropdown">
          <div class="city" *ngFor="let city of topCitiesToShow" (click)="showWeatherReport(city)">
            <span>{{city.EnglishName}}</span>
          </div>
        </div>
      </div>
      <div class="selected_city_report">
        <div class="row">
          <span class="key">City: </span> <span class="value">{{selectedCityData?.name}}</span>

        </div>
        <div class="row">
          <span class="key">Country: </span> <span class="value">{{selectedCityData?.countryName}}</span>

        </div>
        <div class="row">
          <span class="key">Description: </span><span class="value">{{selectedCityData?.WeatherText}}</span>

        </div>
        <div class="row">
          <span class="key">Temperature: </span><span class="value">{{selectedCityData?.Temperature}}</span>

        </div>
        <div class="row">
          <span class="key">Precipitation: </span><span class="value">{{selectedCityData?.HasPrecipitation}}</span>

        </div>
      </div>
    </div>
  </div>
</div>