@import "../../styles/common";
.current_conditions__container {
  .current_conditions__wrapper {
    height: calc(100vh - #{$navBarHeight});
    margin-top: $navBarHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .search__container {
      width: 25rem;
      h2 {
        font-size: 1.6rem;
        font-weight: 300;
        width: 100%;
      }
      .search-field {
        font-size: 1.6rem;
        width: 100%;
      }
      .topcities__dropdown {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background: #000;
        height: 20rem;
        overflow-x: scroll;
        width: 100%;
        .city {
          font-size: 1.2rem;
          font-size: 1.2rem;
          margin-bottom: 0.8rem;
          color: rgba($color: #fff, $alpha: 0.7);
          cursor: pointer;
          &:hover {
            color: rgba($color: #fff, $alpha: 1);
            transition: color 0.5s;
          }
        }
      }
    }
  }
}
