.region-list__container {
  display: flex;
  flex-direction: row;
  .region-item {
    height: 5rem;
    width: 10rem;
    border: 0.1rem solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .region-name {
      span {
        font-size: 1.6rem;
      }
    }
  }
}
