.home-body__container {
    width: 90%;
    margin: auto;
    .home-body__wrapper {
        .services__container {
            .services__wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                .services-title {
                    h2 {
                        font-size: 3rem;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
                .services-caraousel__wrapper {}
            }
        }
    }
}