<div class="home-body__container">
  <div class="home-body__wrapper">
    <div class="services__container">
      <div class="services__wrapper">
        <div class="services-title">
          <h2>Our Services</h2>
        </div>
        <div class="services-caraousel__wrapper">
          <div class="service-card" routerLink="/weather-forecasts">
            <div class="service-img" style="background-image: url(/assets/forecasts.jpg);">
              <!-- <img src="/assets/forecasts.jpg" alt="Forecasts"> -->
            </div>
            <div class="service-content">
              <div class="service-title">Forecasts</div>
              <div class="service-description">
                Get forecast information for a specific location.
              </div>
            </div>
          </div>
          <div class="service-card" routerLink="/weather-alarms">
            <div class="service-img" style="background-image: url(/assets/weather_alerts.jpg);">
            </div>
            <div class="service-content">
              <div class="service-title">Weather Alarms</div>
              <div class="service-description">
                Get Weather Alarms for a specific location
              </div>
            </div>
          </div>
          <div class="service-card" routerLink="/govt-alerts">
            <div class="service-img" style="background-image: url(/assets/gvt_alerts.jpg);">
            </div>
            <div class="service-content">
              <div class="service-title">Alerts</div>
              <div class="service-description">
                Get severe weather alerts from Government
              </div>
            </div>
          </div>
          <div class="service-card" routerLink="/satellite-imagery">
            <div class="service-img" style="background-image: url(/assets/satellite.jpg);">
            </div>
            <div class="service-content">
              <div class="service-title">Satellite Imagery</div>
              <div class="service-description">
                Get radar and satellite images </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>