<div class="forecasts__container">
  <app-navbar></app-navbar>
  <div class="forecast_cards__container">
    <div class="saved_forecasts__container">
      <div class="forecast_list" *ngFor="let forecast of forecastList">
        <div class="forecast__cityname">
          <h2>{{forecast?.cityName}}</h2>
        </div>
        <div class="forecast_temp">
          <span class="temp_value">getFormattedTemperature(forecast)</span>
        </div>
      </div>

    </div>
    <div class="add_forecasts__container">
      <button class="cta" *ngIf="!showForecastPopup" (click)="showAddForecastPopup(true)">Add a place</button>
    </div>
  </div>
</div>

<div class="add_forecasts__popup" *ngIf="showForecastPopup">
  <div class="region_select_container square-shadow">
    <h2>Select City from the list</h2>
    <form (ngSubmit)="addForecast()" [formGroup]="forecastForm">
      <mat-form-field class="form_field">
        <mat-label>Select City</mat-label>
        <select matNativeControl required (change)="setCityForForecast($event.target)" formControlName="city">
          <option [value]="city.Key" *ngFor="let city of topCities">{{city.EnglishName}}
          </option>
        </select>
      </mat-form-field>
      <button class="cta" type="submit">Save</button>
    </form>
  </div>
</div>